@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#phone-input:focus-within {
  border: 2px solid #474747;
  box-shadow: inset 0 0 0 1px #474747;
}

#phone-input input {
  outline: none;
} */

.react-tabs__tab {
  margin-right: 32px;
}

.react-tabs__tab-panel {
  display: initial !important;
  height: 100%;
}

.react-tabs__tab.bottom-border {
  border-bottom: 4px solid theme('colors.blue.500');
}

.react-tabs__tab.bottom-border::after {
  content: none !important;
}